.profile_tab {
  margin: 0 auto;
  width: 90%;
  border-radius: 12px;
  padding: 12px;
  margin-top: 8px;
  box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  margin-bottom: 30px;
}
